div.currencyCard {
  will-change: auto;
  width: 300px;
  height: 150px;
  border: 2px solid transparent;
  border-radius: 14px;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at bottom left, rgba(255, 0, 0, 0.637), #9995d1);
  background-clip: content-box, border-box;
  box-shadow: 0px 0px 0 0px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transform: rotateX(0deg) rotateZ(0deg);
  transform-style: preserve-3d;
  transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;
}

.currencyCard:hover {
  transform: translate3d(0px, -16px, 0px) rotateX(1deg) rotateZ(1deg);
  box-shadow: 0px 0px 0 0px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}
